{% extends "base.html" %}
{% block content %}
{% set last_question = [] %}
<div>
    <h1>Search results for {{ search_phrase }}:</h1>
</div>

<div>
    {% for record in data %}
    {% if record.question_id not in last_question %}
    <h3>{{ record.title|safe }}</h3>
    <div>
        {{ record.question_body|safe }}
    </div>
    {% endif %}
    {% if record.answer_body %}
    <div>{{ record.answer_body|safe }}</div>
    {% endif %}
    {% do last_question.append(record.question_id) %}
    {% endfor %}
</div>
{%- endblock content %}
